certifi==2025.11.12
GeoAlchemy2==0.18.1
geopandas==1.1.1
greenlet==3.3.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pyogrio==0.12.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2025.2
shapely==2.1.2
six==1.17.0
SQLAlchemy==2.0.45
typing_extensions==4.15.0
tzdata==2025.2
